Views Inject View Results module allows to inject results into the view ('main view') from the other view.
The results are injected at position set as per 'position' field which should be in filtered content type - for the view that is to be injected.
The injected results will remain in fixed position (value of the 'position' field) while the primary view results will 'roll' around.

<h4>Use-case</h4>
The news timeline with injected adds, where the adds are in fixed position and news are sorted by publish date and rolling around the adds.
By having adds in fixed position it is possible to:
<ul>
  <li>Run marketing campaigns right in the timeline.</li>
  <li>Sell the add spots/location(s) which potentially could pay at least site maintenance costs.</li>
</ul>
Placing the adds in the timeline has use especially on the mobile platform, where the user sees usually single column.

<h4>Supported features</h4>
<ul>
  <li>
    The Views Inject View Results module supports views pager and it's variations such as Views Infinite Scroll. 
    The view may be loaded in smaller chunks (pages) and the injected results (adds) will stay in the fixed position.
  </li>
  <li>
    The injected rows are rendered as per 'view to inject' display.  There is no need to insert the fields from 'view to inject' into the 'main' view and definitely the content type selected in 'Filter criteria' should not be in 'main' view.
  </li>
  <li>
    The custom template  <i>(.tpl) </i> files can be used but you should pay attention to use expanded template name where the view and display machine name is used:
     <i>views-view-field--[view_machine_name]--[display_machine_name]--[field_machine_name].tpl.php</i>
     e.g. for title field:
     <i> views-view-field--timeline-with-adds--page--title.tpl.php </i> for 'page' display
    and
     <i> views-view-field--timeline-with-adds--atachement-1--title.tpl.php </i> for 'atachement_1' display.
     The 'Theming information' is accessible in 'Views UI' > 'Advanced' > 'Other' section (third column at the bottom'  
  </li>
</ul>

<h4>How does it work</h4>
The results (rows) from 'view to inject' are injected to 'main view' results at the position as per 'order field', which has to be the 'integer' type.
Injected rows have added 'view inject settings'.

When 'main view' is rendered the style plugin will output the rows which have 'view inject settings' using the 'view to inject' display.
In other words the style plugin will switch the style from 'main view' default to 'view to inject' should the row have 'view inject settings'.

While the rows are injected, the sort criteria for the 'view to inject' display are ignored.
This allows the 'view to inject' to be used for other purpose and have its own sort criteria.

While style plugin can switch the style on per row bases, the rows and the fields are rendered as per view display they are pulled from.
This allows to use (.tpl) template files for each view separately.

Above allows to inject results from one view into another and have full flexibility on per view bases.

<h4>What it does not do</h4>
The module does not:
<ul>
  <li>
    Help to manage the 'injected' content. Meaning it will not check if the 'order' field has unique value.
  </li>
  <li>
    Identify the 'order' field. The administrator is responsible for selecting correctly the 'order' field, when configuring the 'main view'.
  </li>
  <li>
    Insert into the content or helps to set/configure 'order' field.
  </li>
  <li>
    Check if the 'main view' and 'view to inject' return unique content. Administrator has to configure 'filter criteria' for both views in the way the do not return overlapping results - unless this is an intention.
  </li>
</ul>
