After module is installed and enabled you will see in Views UI, Page Settings (center column) 'Inject view results: No view selected'.
<div class="ta-center">
  <img class="help-img-center" alt="screen-shot-1.jpg" src="&path&images/screen-shot-1.jpg">
</div>
Selecting the link will open '[display name]: Inject view results' e.g. 'Page: Inject view results' dialog.
<div class="ta-center">
  <img class="help-img-center" alt="screen-shot-2.jpg" src="&path&images/screen-shot-2.jpg">
</div>
The dialog has dropdown select: 'View to inject' and 'Select position field' radios.
'Select position field' lists only 'integer' type fields.

We have to create the view which results will be injected into to the view (main view).

Lets start from the beginning.

Create content type e.g. 'Advertisement'.
'Views Inject' will require the content type to have the 'position' field e.g.:
<ul>
  <li>Label: Position</li>
  <li>Machine name: field_position</li>
  <li>Field type: List (integer)  this is important</li>
  <li>Widget: Select list</li>

  <li>'Default value': 'None'  this is important</li>
  <li>'Maximum number of values': 1</li>
  <li>'Allowed values list' should be a zero-based array meaning, the top row will have index/position value set to zero (0) e.g.:
    <pre style="width: 25%;">
      0|Top
      1|1
      2|2
      3|3
      4|4
      5|5
      6|6
      7|7
      8|8
      9|9
    </pre>
    Length of the array does not matter but keep in mind - who would like to put in timeline promoted content at position e.g. 100?
  </li>
</ul>
Besides 'position' any number of fields can be added.

Once we did create the content type e.g. 'Advertisement' we can go back to the view.  The 'Views Inject' is flexible enough to accept any display type for the view which results we would like to inject.   For the performance reasons we would like to use simple display type such as: attachment or embed. However, this is not a limitation.

In following example we create view with two displays (if convenient it is possible to create two separate views):
<ol>
  <li>
    Create a 'page' view e.g. 'Timeline' which filters all published content type of 'Article' and sorts them by 'Post date' in descending order.
  </li>
  <li>
    Now add new display e.g. 'Attachment'.  
    If we would like to add 'Embed' we can enable it at 'Views' basic settings: admin/structure/views/settings  
    Check ON: Show the embed display in the ui.
  </li>
  <li>
    The newly added display will most likely have the same settings as 'page' display we just created.  
    PAY ATTENTION when saving to select 'This display override' to not to override the 'page' display!  
  </li>
  <li>
    This display should filter only content to be 'injected' in our case 'Advertisement'.
     If we already do not have 'Content: Type' in 'Filter criteria' section we should add it.  
    <ul>
      <li>For 'Operator' select: 'Is one of'</li>
      <li>In 'Content types' select: 'Advertisement' and make sure the 'Article' is unchecked.  For keeping example simple we do not want in this filter to have any content type that was selected in our 'page'.
        <strong>Note:</strong>
        To be exact neither of both displays should filter the same content. We could use the same content type and use taxonomy terms to filter out what we want.
      </li>
    </ul>
    PAY ATTENTION when saving to select 'This display override' to not to override the 'page' display!
  </li>
  <li>
    Now that we do have the 'Attachment' display ready (view which results is to be injected to main view 'Page'). We can switch back to 'Page'.
  </li>
  <li>
    In the middle column in 'Page settings' under 'Access' we will see 'Inject view results: No view selected'. In the 'Inject view results' dialog the 'View to inject' dropdown will list all enabled views with their displays.  
    Select 'Attachment' that we just created.
  </li>
  <li>
    The 'Select position field' radio list will be updated accordingly to show all 'integer' type fields.
     Mind - Only 'integer' type fields may be used as 'index' for the rows to be injected.  
  </li>
  <li>
    Select the 'Content: Position (field_position)'.
  </li>
  <li>
    Select 'Apply' and you are done.
  </li>
</ol>

The 'Page' display should now have 'Advertisements' injected as per 'Position' field value.   

When creating new 'Advertisements' make sure the 'Position' field has unique value.
 Try Unique Field: <a href="http://www.drupal.org/project/unique_field" target="_blank">http://www.drupal.org/project/unique_field</a>.
