<h4>Requirements</h4>
<a href="http://www.drupal.org/project/views" target="_blank">Views module</a>

<h4>Installation</h4>
Typical as per Drupal documentation.
Refer to: <a href="http://www.drupal.org/node/120641" target="_blank">http://www.drupal.org/node/120641</a>
For more details: <a href="http://www.drupal.org/docs/7/extending-drupal-7/installing-contributed-modules" target="_blank">http://www.drupal.org/docs/7/extending-drupal-7/installing-contributed-modules</a>
