<h4>Known issues</h4>
Upon uninstalling 'Views Inject' module you may get following error:
<pre>( ! ) Fatal error: views_plugin_display::destroy() [&lt;a href='views-plugin-display.destroy'&gt;views-plugin-display.destroy&lt;/a&gt;]: The script tried to execute a method or access a property of an incomplete object. Please ensure that the class definition &quot;ViewsInjectViewResultsViewsPluginDisplayExtender&quot; of the object you are trying to operate on was loaded _before_ unserialize() gets called or provide a __autoload() function to load the class definition in [site root path]/sites/all/modules/views/plugins/views_plugin_display.inc on line 272
</pre>
This is the Views module issue,
see: <a href="https://www.drupal.org/node/2040281" target="_blank">https://www.drupal.org/node/2040281</a>
To correct you may:
<ul>
  <li>
    Clear Views cache with Drush.
    In Terminal window enter:  
    <pre>$ drush cc views</pre>
  </li>
  <li>
    Or to permanently fix the issue apply views_plugin_display_extender_destroy_fix_D7-2040281-1.patch,
     see: <a href="https://www.drupal.org/node/2040281#comment-12133439" target="_blank">https://www.drupal.org/node/2040281#comment-12133439</a>
  </li>
</ul>
