.advanced-help-tplic ul ul,
ol ul {
  list-style-type: disc;
}
.clear-block:after {
  display: table;
  content: "";
  clear: both;
}
.help-navigation {
  padding: 1.2em 0 0;
}
.help-navigation .help-up {
  width: 4%;
}
